<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap-5.3.3/bootstrap.min.css">
    <script src="/assets/plugins/jquery-3.7.1/jquery-3.7.1.js"></script>
    <script src="/assets/plugins/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>    
  {% block content %}
    {% endblock %}
</body>
</html>